canvas {
    width: 100%;
    height: 100vh;
    display: block;
    cursor: -webkit-grab;
    cursor: grab;
    animation-name: backgroundColorPalette;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

body {
    height: 100vh;
    
}

a {
    position: fixed;
    top: 0;
    left: 0 ;
    padding: 5vmin;
    
}
@keyframes backgroundColorPalette {
    100% {
      background: #F8F9FA;
    }
    100% {
      background: #E9ECEF;
    }
    100% {
      background: #DEE2E6;
    }
    100% {
      background: #CED4DA;
    }
    100% {
      background: #ADB5BD;
    }
    100% {
        background: #6C757D;
      }
    100% {
        background: #495057;
      }
    100% {
        background: #343A40;
      }
    100% {
        background: #212529;
      }
      100% {
        background: #1B1B1B;
      }
    100% {
        background: #141414;
      }
    100% {
        background: #000000;
      }
  }